<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="src/assets/style/normalize.css">
    <link rel="stylesheet" href="thick-line.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <section class="thick-line">
    <div class="thick-line__text">Awesome experiences with virtual reality world</div>
    <div class="thick-line__decor"></div>    
</section>
    
</body>
</html>