/* Table of Content:

1. GENERAL

2. LAYOUT

/*----------- GENERAL -----------*/

* {
	color: white;
	font-family: 'Inter';
	font-style: normal;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
input {
	border: none;
	cursor: pointer;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.body {
	background-color: black;
}

/*----------- LAYOUT -----------*/

.container {
	max-width: 860px;
	margin: 0 auto;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (min-width: 568) {
	.container {
		max-width: 860px;
		margin: 0 auto;
		position: relative;
		padding: 0px 50px;
	}
}

.section {
	margin-bottom: 80px;
}

.section__title {
	font-family: 'Orbitron';
	font-weight: 900;
	font-size: 21px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.section__text {
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	line-height: 1.2;
}

.elipse__container {
	overflow: hidden;
}

.button {
	padding: 11px 26px;
	border-radius: 4px;
	background: linear-gradient(to right, #bc3cd8, #c54b8c);
	text-decoration: none;
	border: none;

	font-weight: 700;
	font-size: 12px;
	line-height: 1.1;
	cursor: pointer;
}

/************ Sign Modal *************/
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgb(0, 0, 0);
	opacity: 0.9;
	z-index: 200;
	transition: 0.5s;
}

.modal__form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	max-width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal__form-title {
	font-family: 'Orbitron';
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	text-align: center;

	padding-bottom: 24px;
}

.modal__form-inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.modal__form-input {
	background-color: #000;
	margin-bottom: 16px;
	border: 3px solid #ffffff;
	border-radius: 5px;
	padding: 32px 18px;
	width: 400px;
	max-height: 60px;
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
}

.modal__form-button {
	width: 320px;
	background-color: #9f62bb;
	border-radius: 5px;
	border: none;
	padding: 12px 0;
	margin-top: 16px;
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
}
/* ********************** Header ******************************* */

.header {
	margin-bottom: 80px;
}

.btn-link {
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	position: relative;
}

.header__inner::before {
	content: '';
	background: radial-gradient(
		37.26% 37.26% at 50% 50%,
		rgba(170, 20, 240, 0.31) 0%,
		rgba(170, 20, 240, 0) 100%
	);
	width: 572.95px;
	height: 552.48px;
	border-radius: 50%;
	position: absolute;
	z-index: -1;
}

.menu {
	display: flex;
	align-items: center;
}

.header__burger {
	display: none;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 4px;
	z-index: 60;
}

.header__close-btn {
	background: #000;
	border: none;
	cursor: pointer;
}

.header__mobile-buttons {
	display: flex;
	justify-content: flex-end;
}

.header__mobile-menu {
	background: #000;
	transition: 0.3s;
	opacity: 0;
	pointer-events: none;
	border-radius: 7px;
	flex-direction: column;
	padding: 12px;
	max-width: 223px;
	position: absolute;
	right: -16px;
	top: 3px;
	z-index: 50;
	letter-spacing: 0.0275em;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	border: 0.5px solid rgb(49, 49, 49);
}

.close {
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
}

.menu__list {
	display: flex;
	margin-right: 20px;
}

.menu__item {
	margin-right: 35px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	/* min-height: 100%; */
}

.menu_mobile-item {
	font-weight: 500;
	font-size: 12.5098px;
	line-height: 15px;
	padding-right: 54px;
	display: flex;
	align-items: center;
}

.menu__link {
	position: relative;
}

.menu__link:hover {
	background: -webkit-linear-gradient(99.05deg, #c824ec 0.07%, #df308d 106.32%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
}

.menu__mobile-link:hover {
	background: -webkit-linear-gradient(99.05deg, #c824ec 0.07%, #df308d 106.32%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
}

.menu__link--active {
	background: linear-gradient(99.05deg, #c824ec 0.07%, #df308d 106.32%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
}

.menu__link--active::after {
	content: '';
	width: 10px;
	border: 2px solid #ffffff;
	border-radius: 6px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 22px;
}

/* ********************** Hero ******************************* */

.hero__inner {
	display: flex;
	position: relative;
}

.hero__elipse {
	position: absolute;
	top: 300px;
	right: 10%;
}

.hero__elipse::before {
	content: '';
	background: radial-gradient(
		37.26% 37.26% at 3.09% 44.12%,
		rgba(170, 20, 240, 0.31) 0%,
		rgba(170, 20, 240, 0) 100%
	);
	width: 644px;
	height: 645px;
	border-radius: 50%;
	position: absolute;
	z-index: -1;
}

.hero__links {
	margin-bottom: 25px;
}
.hero__link {
	margin-left: 20px;
}

.hero__people-list {
	display: flex;
}

.hero__people {
	display: flex;
	align-items: center;
}

.hero__people-item {
	margin-right: -3px;
}

.hero__people-online {
	margin-left: 40px;
	padding-left: 20px;
	position: relative;
}

.hero__people-online::before {
	content: ' ';

	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-20%);

	display: inline-block;
	background: url('../../assets/icons/Hero__online-icon.svg');
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.hero__title {
	margin-bottom: 24px;

	font-weight: 900;
	font-weight: 900;
	font-size: 32px;
	line-height: 43px;

	max-width: 336px;
}

.hero__text {
	max-width: 312px;
	margin-bottom: 25px;
}

.hero__decor {
	position: relative;
	z-index: -1;
}

.hero__cinematic {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.hero__cinematic-wrapper {
	background-image: url('../../components/images/Hero__decor.png');
	background-size: contain;
	background-position: center right 40%;
	height: 500px;
	width: 500px;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 80px;
}

.hero__cinematic-line {
	content: '';
	border: 1px solid #fff;
	min-width: 152px;
	margin-bottom: 25px;
}

.hero__cinematic-title {
	position: relative;
	margin-bottom: 41px;
	white-space: nowrap;
}

.hero__cinematic-title::after {
	content: '';
	position: absolute;
	display: inline-block;
	top: 150%;
	right: 50%;
	transform: translateX(50%);

	width: 70%;
	height: 2px;

	background: #fff;
}

.hero__cinematic-text {
	text-align: center;
	max-width: 204px;
}

/* ********************** Expririence ******************************* */

.expirience {
	margin-bottom: 60px;
}

.expirience__title {
	max-width: 220px;
}

.expirience__inner {
	display: flex;
	justify-content: space-between;
}

.expirience__inner::before {
	content: '';
	background: radial-gradient(
		37.26% 37.26% at 50% 50%,
		rgba(170, 20, 240, 0.31) 0%,
		rgba(170, 20, 240, 0) 100%
	);
	width: 572.95px;
	height: 552.48px;
	border-radius: 50%;
	position: absolute;
	z-index: -1;

	top: -260px;
	left: -150px;
}

.expirince__fotos {
	display: flex;
	height: 400px;
}

.foto-girl {
	align-self: flex-start;
	margin-right: 20px;
}

.foto-boy {
	align-self: flex-end;
}

.expirience__info {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
}

.expirience__text {
	max-width: 220px;
	margin-bottom: 22px;
}

.expirience__button {
	max-width: 90px;
	padding: 10px 18px;
	width: 100%;
	white-space: nowrap;
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
}

/* ********************** Thick-line ******************************* */

.thick-line__inner {
	border-top-right-radius: 150px;
	background: #534686;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 13px 66px 13px 41px;
}

.thick-line__text {
	font-family: 'Orbitron';
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	max-width: 290px;
}

/* ********************** games ******************************* */

.games-header__inner {
	padding: 19px 12px 0px 38px;
}

.games__inner {
	padding-left: 43px;
}

.games__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 38px;
	margin-bottom: 20px;
	padding-right: 10px;
}

.games__buttons {
	display: flex;
}

.games__title {
	display: flex;

	/* margin-right: 454px; */
	font-family: 'Orbitron';
	font-weight: 900;
	font-size: 17px;
	line-height: 27px;
	justify-content: start;
}

.games__btn {
	padding: 12px 9px;
	margin-right: 20px;
	border-radius: 4px;
	border: none;
	background: linear-gradient(to right, #bc3cd8, #c54b8c);
	text-decoration: none;
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
	max-height: 37px;
	display: flex;
	cursor: pointer;
}

.games__order {
	justify-content: end;
}
option {
	color: #000;
	background-color: rgba(0, 0, 0, 0);
}

select {
	padding: 7px 30px 7px 9px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 4px;
}

.games__images {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 40px;
}

.games__images-mobile {
	display: none;
	grid-template-columns: repeat(1, auto);
	grid-template-rows: repeat(3, auto);
	gap: 40px;
}

.games__item {
	position: relative;
}

.games__img {
	position: relative;
	height: 100%;
}

.games__img-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	padding: 7px 11px 7px 13px;

	bottom: 0;
	left: 0;

	background: rgba(255, 255, 255, 0.18);
	backdrop-filter: blur(11px);
	border-radius: 0px 5px 0px 5px;

	max-width: 107px;
}

.games__img-name {
	font-family: 'Orbitron';
	font-weight: 600;
	font-size: 7.29569px;
	line-height: 9px;
	text-align: center;
	text-decoration-line: underline;

	margin-bottom: 6px;
}

.games__img-description {
	font-weight: 400;
	font-size: 7.29569px;
	line-height: 9px;
	letter-spacing: -0.02em;
}

.games__pages-list {
	margin-top: 23px;
	display: flex;
	justify-content: center;
}

.games__pages {
	display: flex;
	gap: 8px;
	padding: 0;
}

.games__link {
	background-color: #fff;
	border: 1px solid #dfe3e8;
	border-radius: 4px;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 5px 5px;
	min-width: 32px;
	max-height: 32px;

	font-family: 'SF Pro Text', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #000;
}

.games__link:hover {
	color: #4200ff;
	border: 1px solid #4200ff;
}

.games__link--color {
	background-color: #919eab;
	border-radius: 4px;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 5px 5px;
	min-width: 32px;
	min-height: 32px;

	font-family: 'SF Pro Text', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #c4cdd5;
}

.games__link--color:hover {
	color: #fff;
	border: 1px solid #fff;
}

/* ********************** Reviews ******************************* */

.reviews__inner {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	background: linear-gradient(
		180deg,
		#aa14f0 -42.59%,
		rgba(0, 0, 0, 0) -42.59%,
		#aa14f0 -42.58%,
		rgba(170, 20, 240, 0.18) 4.35%,
		rgba(151, 60, 68, 0.055) 99.99%,
		rgba(185, 54, 245, 0) 100%
	);
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 7px;
}

.reviews__inner::before {
	content: '';
	background: radial-gradient(
		37.26% 37.26% at 50% 50%,
		rgba(170, 20, 240, 0.31) 0%,
		rgba(170, 20, 240, 0) 100%
	);
	width: 367.19px;
	height: 354.08px;
	border-radius: 50%;
	position: absolute;
	z-index: -1;

	right: 100px;
	bottom: -170px;
}

.reviews__title {
	text-align: center;
}

.reviews__subtitle {
	max-width: 429px;
	margin-bottom: 15px;
	text-align: center;
}

.reviews__massages {
	display: flex;
	gap: 25px;
}

.reviews__massage {
	background: linear-gradient(
		180deg,
		#aa14f0 -42.59%,
		rgba(0, 0, 0, 0) -42.59%,
		#cb8de8 -42.58%,
		rgba(203, 143, 232, 0.18) 4.35%,
		rgba(151, 60, 68, 0.055) 99.99%,
		rgba(199, 137, 228, 0) 100%
	);

	backdrop-filter: blur(6px);
	border-radius: 7px;
	max-width: 300px;
	padding: 8px;
}

.reviews__massages-mobile {
	display: none;
}

.reviews__mes-title {
	font-weight: 700;
	font-size: 11px;
	line-height: 9px;
	letter-spacing: 0.07em;
	margin-bottom: 9px;
}

.reviews__text {
	margin-bottom: 12px;
}

.reviews__mes-color {
	color: rgb(247, 182, 3);
}
.reviews__person {
	display: flex;
	gap: 6px;
}

.reviews__person-data {
	display: flex;
	flex-direction: column;
}

.reviews__person-login {
	font-weight: 500;
	font-size: 5px;
	line-height: 9px;
	letter-spacing: -0.02em;
}

.reviews__person-adress {
	font-weight: 500;
	font-size: 5px;
	line-height: 9px;
	letter-spacing: -0.02em;

	color: #eb4468;
}

/* ********************** Values ******************************* */

.values__inner {
	display: flex;
	justify-content: space-between;

	padding-top: 30px;
	padding-bottom: 45px;
}

.values__inner::before {
	content: '';
	background: radial-gradient(
		37% 37% at 50% 50%,
		rgba(170, 20, 240, 0.31) 0%,
		rgba(170, 20, 240, 0) 100%
	);
	width: 367px;
	height: 354px;
	border-radius: 50%;
	position: absolute;
	z-index: -1;

	top: -80px;
	right: 610px;
}

.values__title {
	position: relative;
}

.values__title::after {
	content: ' ';

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	display: inline-block;
	background: url('../../assets/icons/Values__title-icon.svg');
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.values__text {
	max-width: 250px;
}

.values__images {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	gap: 10px 28px;
}

.values__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.values__description {
	font-weight: 600;
	font-size: 7px;
	line-height: 11px;
	letter-spacing: 0.03em;
}

/* ********************** FOOTER ******************************* */

.footer__inner {
	display: flex;
	justify-content: center;
	margin: 0 42px;
	background: linear-gradient(
		180deg,
		#aa14f0 -42.59%,
		rgba(0, 0, 0, 0) -42.59%,
		#aa14f0 -42.58%,
		rgba(170, 20, 240, 0.18) 4.35%,
		rgba(151, 60, 68, 0.055) 99.99%,
		rgba(185, 54, 245, 0) 100%
	);
	border-radius: 7px;
	margin: 0px 42px 35px 44px;
}

.footer__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 28px 0px;
	/* max-width: 164px; */
	position: relative;
}

.footer__title {
	margin-bottom: 11px;
	position: relative;
}

.footer__title::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
	display: inline-block;
	padding-left: 40px;

	background: url('../../assets/icons/Footer__title.svg');
	background-position: center center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.footer__text {
	margin-bottom: 12px;
}

.footer__inputs {
	display: flex;
	justify-content: center;
	max-height: 19px;
}

.footer__input {
	font-weight: 400;
	font-size: 6.5px;
	line-height: 11px;
	letter-spacing: -0.07em;
	color: rgba(224, 163, 201, 0.56);

	margin-right: 11px;
	background: linear-gradient(
		180deg,
		#aa14f0 -42.59%,
		rgba(0, 0, 0, 0) -42.59%,
		#cb8de8 -42.58%,
		rgba(203, 143, 232, 0.18) 4.35%,
		rgba(151, 60, 68, 0.055) 99.99%,
		rgba(199, 137, 228, 0) 100%
	);
	box-shadow: inset 0px -10px 16px rgba(255, 255, 255, 0.03);
	border: none;
	backdrop-filter: blur(6px);
	border-radius: 2px;
}

.footer__submit {
	position: relative;
	display: flex;
	align-items: center;
}

.footer__submit::after {
	content: '';
	position: absolute;
	background: url(../../assets/icons/Footer__submit.svg);
	background-repeat: no-repeat;
	right: 0;
	top: 50%;

	display: inline-block;

	width: 15px;
	height: 15px;
}

.footer__submit-icon {
	padding-left: 2px;
}

.footer__decoration {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../components/images/Footer__decoration.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;

	border-radius: 7px;
}

.footer__decoration-mobile {
	display: none;
	object-fit: cover;
	z-index: 3;
	opacity: 0.7;
	background-position: right;
	background-position-y: 15px;
	border-radius: 0px 7px 7px 0px;
}

/* ********************** Media max-width:768px ******************************* */

@media screen and (max-width: 768px) {
	.container {
		max-width: 768px;
		padding: 0px 17px;
	}

	.menu {
		display: none;
	}

	.header__burger {
		display: block;
	}

	.show {
		opacity: 1;
		pointer-events: all;
		transition: 0.5s;
	}

	.menu__list {
		display: flex;
		flex-direction: column;
		padding: 0px 0px 16px 0px;
		gap: 10px;
		margin: 0px 0px;
	}

	.menu__button {
		padding: 8px 22px;
	}

	.hero__title {
		font-size: 23px;
		line-height: 33px;
		text-align: center;
	}

	.hero__inner {
		padding: 19px 0px 0px;
		flex-direction: column-reverse;
		padding-top: 33px;
		gap: 24px;
	}

	.hero__elipse::before {
		display: none;
	}

	.hero__explore {
		margin-left: 0;
		margin-bottom: 24px;
		justify-content: center;
		align-items: center;
	}

	.hero__text {
		max-width: 330px;
		text-align: center;
	}

	.hero__btn {
		padding: 11px 47px;
	}

	.games__images {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 20px;
	}

	.games__inner {
		padding-left: 43px;
	}

	.expirince__fotos {
		margin-left: 0;
	}

	.footer__form {
		margin-right: -20px;
		z-index: 5;
	}

	.footer__decoration {
		z-index: 1;
	}
}

/* ********************** Media max-width: 576px ******************************* */

@media screen and (max-width: 576px) {
	.container {
		max-width: 576px;
		padding: 0px 17px;
	}

	.header__inner {
		padding: 19px 0px 0px;
	}

	.header__inner::before {
		right: 115px;
	}

	.expirience__inner {
		flex-direction: column;
	}

	.expirience__inner::before {
		left: 220px;
		top: 190px;
	}

	.expirince__fotos {
		margin: 0px 0px 24px 0px;
		justify-content: center;
	}

	.foto-boy {
		max-width: 170px;
	}

	.foto-girl {
		max-width: 170px;
	}

	.expirience__info {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.expirience__title {
		max-width: 100%;
		font-size: 18px;
		margin-bottom: 8px;
	}

	.expirience__text {
		max-width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}

	.expirience__button {
		padding: 11px 77px;
		max-width: 100%;
		width: auto;
	}

	.thick-line__inner {
		padding: 9px 28px 9px 10px;
	}

	.thick-line__text {
		font-size: 14px;
	}

	.thick-line__decor {
		border-radius: 7px 20px 7px 7px;
		max-width: 92px;
	}

	.games__inner {
		padding: 0px;
	}

	.games__order {
		max-width: 103px;
		font-family: 'Inter';
		font-weight: 500;
		font-size: 12px;
		line-height: 143%;
		display: flex;
		align-items: center;
		letter-spacing: 0.018em;
	}

	.games__top {
		padding: 0px 0px 0px;
	}

	.games__title {
		font-family: 'Orbitron';
		font-weight: 900;
		font-size: 14px;
		line-height: 27px;
	}

	.games__images {
		display: none;
	}

	.games__img {
		max-width: 100%;
	}

	.games__images-mobile {
		display: grid;
		justify-items: center;
	}

	.reviews__massages {
		display: none;
	}

	.reviews__inner {
		padding-bottom: 0px;
	}

	.reviews__inner::before {
		right: -101px;
		top: 47px;
	}

	.reviews__massages-mobile {
		display: block;
	}

	.reviews__massage {
		display: block;
		max-width: 300px;
		padding: 11px 136px 15px 22px;
	}

	.reviews__person-login {
		margin: 3px 0px;
	}

	.reviews__text {
		max-width: 130px;
		margin-bottom: 44px;
	}

	.values__inner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 40px 0;
	}

	.values__inner::before {
		display: none;
	}

	.values__inner::before {
		right: 100px;
	}

	.values__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 16px;
	}

	.values__title {
		margin-bottom: 16px;
	}

	.footer__inner {
		padding: 0px 0px 10px 16px;
		margin: 0;
		justify-content: center;
	}

	.footer__form {
		padding: 25px 0px 22px 14px;
		margin-right: -25px;
		z-index: 4;
		background: transparent;
	}

	.footer__decoration {
		display: none;
	}

	.footer__decoration-mobile {
		display: block;
		width: 80%;
	}
}
