<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../assets/style/normalize.css">
    <link rel="stylesheet" href="headsets.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <section class="headsets">
    <div class="container">
        <div class="headsets__top">
            <div class="headsets__title">Mixed Reality Headsets</div>
            <div class="headsets__order">
            <select name="order" id="">
                <option value="first" checked>New first</option>
                <option value="last">New last</option>
            </select>
            </div>
        </div>
        <div class="headsets__images">
            <div class="headsets__item">
                <img class="headsetes__img" src="../images/Headsets__img.png" alt="" >
                <div class="headsets__img-info">
                    <div class="headsetes__img-name">Metaverse</div>
                    <div class="headsetes__img-description">A Network of 3D virtual 
                    worlds focused on social connection.</div>
                </div>
            </div>
            <div class="headsets__item">
                <img class="headsetes__img" src="../images/Headsets__img.png" alt="" >
                <div class="headsets__img-info">
                    <div class="headsetes__img-name">Metaverse</div>
                    <div class="headsetes__img-description">A Network of 3D virtual 
                    worlds focused on social connection.</div>
                </div>
            </div>
            <div class="headsets__item">
                <img class="headsetes__img" src="../images/Headsets__img.png" alt="" >
                <div class="headsets__img-info">
                    <div class="headsetes__img-name">Metaverse</div>
                    <div class="headsetes__img-description">A Network of 3D virtual 
                    worlds focused on social connection.</div>
                </div>
            </div>
            <div class="headsets__item">
                <img class="headsetes__img" src="../images/Headsets__img.png" alt="" >
                <div class="headsets__img-info">
                    <div class="headsetes__img-name">Metaverse</div>
                    <div class="headsetes__img-description">A Network of 3D virtual 
                    worlds focused on social connection.</div>
                </div>
            </div>
            <div class="headsets__item">
                <img class="headsetes__img" src="../images/Headsets__img.png" alt="" >
                <div class="headsets__img-info">
                    <div class="headsetes__img-name">Metaverse</div>
                    <div class="headsetes__img-description">A Network of 3D virtual 
                    worlds focused on social connection.</div>
                </div>
            </div>
            <div class="headsets__item">
                <img class="headsetes__img" src="../images/Headsets__img.png" alt="" >
                <div class="headsets__img-info">
                    <div class="headsetes__img-name">Metaverse</div>
                    <div class="headsetes__img-description">A Network of 3D virtual 
                    worlds focused on social connection.</div>
                </div>
            </div>
        </div>
        <div class="headsets__pages-list">
            <ul class="headsets__pages">
            <li class="headsets__list-item--color"><a href="" class="headsets__link "><img src="../../assets/icons/Headsets__page-back.png" alt=""></a></li>
            <li class="headsets__list-item"><a href="" class="headsets__link">1</a></li>
            <li class="headsets__list-item"><a href="" class="headsets__link">2</a></li>
            <li class="headsets__list-item"><a href="" class="headsets__link">...</a></li>
            <li class="headsets__list-item"><a href="" class="headsets__link">9</a></li>
            <li class="headsets__list-item"><a href="" class="headsets__link">10</a></li>
            <li class="headsets__list-item"><a href="" class="headsets__link">&#62;</a></li>
           </ul>
        </div>
    </div>
</section>
</body>
</html>