<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../assets/style/normalize.css">
    <link rel="stylesheet" href="values.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <section class="values">
    <div class="container">
        <div class="values__inner">
            <div class="values__info"><div class="values__title">Our company values culture <img class="values__title-icon" src="../../assets/icons/Values__title-icon.svg" alt=""></div>
        <div class="values__text">We specialize in creating visual identities for products and branda in your company.</div></div>
    
        <div class="values__images">
            <div class="values__item">
                <img src="../../assets/icons/Values__sincere.svg" alt="" class="values__item-img">
                <div class="values__description">Be Sincere</div>
            </div>
            <div class="values__item">
                <img src="../../assets/icons/Values__together.svg" alt="" class="values__item-img">
                <div class="values__description">Stronger together</div>
            </div>
            <div class="values__item">
                <img src="../../assets/icons/Values__simple.svg" alt="" class="values__item-img">
                <div class="values__description">Keep it simple</div>
            </div>
            <div class="values__item">
                <img src="../../assets/icons/Values__risk.svg" alt="" class="values__item-img">
                <div class="values__description">Take intelligent risks</div>
            </div>
        </div>
        
    </div>
</div>
</section>
    
</body>
</html>