<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <link rel="../../assets/style/normalize.css">
    <link rel="stylesheet" href="footer.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <footer class="footer">
    <div class="container">
        <div class="footer__inner">
    <form class="footer__form" action="">
        <div class="footer__title">Explore product in  new way</div>
        <div class="footer__text">We specialize in creating 
        visual identities for products and branda in your company.</div>
        <div class="footer__inputs">
            <input class="footer__input" type="text" placeholder="Your Email">
            <button class="footer__submit button">Start <img class="footer__submit-icon" src="../../assets/icons/Footer__submit.svg" alt=""></button>
        </div>
    </form>
        <div class="footer__decoration" alt=""></div>
         <!-- src="../images/Footer__decoration.png" -->
        </div>
    </div>
</footer>
</body>
</html>