<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <link rel="../../assets/style/normalize.css">
    <link rel="stylesheet" href="experiance.css">
   
    <link rel="stylesheet" href="src/assets/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="expirience">
        <div class="container">
            <div class="expirience__inner">
    <div class="expirince__fotos">
        <img src="../images/Experience_girl.png" alt="" class="foto-girl">
        <img src="../images/Experience_boy.png" alt="" class="foto-boy">
    </div>
    <div class="expirience__info">
    <div class="title expirience__title">
        New Experience In Playing Game
    </div>
    <div class="expirience__text">You can try playing the game with a
        new style and of course a more real feel, like you are the main characterin your game and adventure in this
        new digital world.</div>
        <button class="button expirience__button">Get it now</button>
    </div>
    </div>
</div>
</section>
</body>
</html>