* {
  box-sizing: border-box;
  color: white;
  font-family: "Inter";
}

body {
  background-color: black;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.button {
  padding: 11px 26px;
  border-radius: 4px;
  background: linear-gradient(to right, #bc3cd8, #c54b8c);
  text-decoration: none;
  font-weight: 700;
}

.expirince__fotos {
  display: flex;
  height: 400px;
  gap: 19px;
}

.foto-girl {
  align-self: flex-start;
}

.foto-boy {
  align-self: flex-end;
}

.expirience__inner {
  display: flex;
  flex-direction: row;
}

.expirience__info {
  margin-top: 167px;
  margin-left: 65px;
}

.expirience__title {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 33px;
  max-width: 218px;
  margin-bottom: 20px;
}

.expirience__text {
  max-width: 218px;
  margin-bottom: 22px;
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-right: 3px;
}

.expirience__button {
  /* text-align: justify; */
  max-width: 90px;
  padding: 11px 17px;
  width: 100%;
  white-space: nowrap;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
}

@media screen {
  .container {
    max-width: 390px;
  }

  .expirience__inner {
    padding: 0px 16px;
    flex-direction: column;
  }

  .expirince__fotos {
    margin-bottom: 24px;
  }

  .foto-boy {
    max-width: 170px;
  }

  .foto-girl {
    max-width: 170px;
  }

  .expirience__info {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .expirience__title {
    max-width: 100%;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .expirience__text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 24px;
  }

  .expirience__button {
    padding: 11px 77px;
    max-width: 100%;
    width: auto;
  }
}
