.thick-line{
border: 5px solid linear-gradient(#FFFFFF
, #AA14F0);
border-radius: 0px 170px 0px 0px;
background: #534686;
}

.thick-line__text{
font-family: 'Orbitron';
font-style: normal;
font-weight: 600;
font-size: 18.1089px;
line-height: 23px; 
}