@font-face {
    font-family: 'Orbitron';
    src: url('../font/Orbitron-Medium.eot');
    src: local('Orbitron Medium'), local('Orbitron-Medium'),
        url('Orbitron-Medium.eot?#iefix') format('embedded-opentype'),
        url('Orbitron-Medium.woff2') format('woff2'),
        url('Orbitron-Medium.woff') format('woff'),
        url('Orbitron-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../font/Orbitron-Black.eot');
    src: local('Orbitron Black'), local('Orbitron-Black'),
        url('Orbitron-Black.eot?#iefix') format('embedded-opentype'),
        url('Orbitron-Black.woff2') format('woff2'),
        url('Orbitron-Black.woff') format('woff'),
        url('Orbitron-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../font/Orbitron-Bold.eot');
    src: local('Orbitron Bold'), local('Orbitron-Bold'),
        url('Orbitron-Bold.eot?#iefix') format('embedded-opentype'),
        url('Orbitron-Bold.woff2') format('woff2'),
        url('Orbitron-Bold.woff') format('woff'),
        url('Orbitron-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../font/Orbitron-Regular.eot');
    src: local('Orbitron Regular'), local('Orbitron-Regular'),
        url('Orbitron-Regular.eot?#iefix') format('embedded-opentype'),
        url('Orbitron-Regular.woff2') format('woff2'),
        url('Orbitron-Regular.woff') format('woff'),
        url('Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



*{
    box-sizing: border-box;
    color: white;
    font-family: 'Inter';
}

a{
    text-decoration: none;
}

body{
    background-color: black;
    
}

.container{
    max-width: 860px;
    margin: 0 auto;
    padding: 10px;
    /* position: relative; */
}

.reviews{
    background: linear-gradient(180deg, #AA14F0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #AA14F0 -42.58%,
    rgba(170, 20, 240, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(185, 54, 245, 0) 100%);

    width: 100%;

    border-radius: 7.35039px;
}

.reviews__title{
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
    text-align: center;
}

.reviews__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: -0.02em;
    max-width: 329px ;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.reviews__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews__massages{
    display: flex;
    gap: 8px;
}

.reviews__massage{
    background: linear-gradient(180deg, #AA14F0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #CB8DE8 -42.58%,
    rgba(203, 143, 232, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(199, 137, 228, 0) 100%);

    backdrop-filter: blur(6px);
    border-radius: 7px;
}

.reviews__mes-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4.97691px;
    line-height: 9px;
    letter-spacing: 0.07em;   

    margin-left: 11px;
    margin-top: 9px ;
}
.reviews__mes-color{
    font-display:rgb(247, 182, 3);
}

.reviews__mes-title{
    margin-bottom: 9px;
}

.reviews__massage{
    max-width: 143px;
}

.reviews__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 5.52896px;
    line-height: 9px;
    padding: 0 9px;
    margin-bottom: 11px;
}

.reviews__person{
    display: flex;
    margin-left: 10px;
    gap: 6px;
}

.reviews__person-data{
    display: flex;
    flex-direction: column;
}

.reviews__person-login{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 5px;
    line-height: 9px;
    letter-spacing: -0.02em;
}

.reviews__person-adress{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 4.97691px;
    line-height: 9px;
    letter-spacing: -0.02em;

    color: #EB4468;
}

