* {
  box-sizing: border-box;
  color: white;
  font-family: "Inter";
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 10px;
  /* position: relative; */
}

.values__inner {
  display: flex;
  justify-content: center;
  padding: 32px 0px 46px 0px;
  /* gap: 48px; */
}

.values__inner::before {
  content: "";
  background: radial-gradient(
    37% 37% at 50% 50%,
    rgba(170, 20, 240, 0.31) 0%,
    rgba(170, 20, 240, 0) 100%
  );
  width: 367px;
  height: 354px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;

  top: -80px;
  right: 610px;
}

.values__title {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.02em;

  margin-bottom: 23px;
}

.values__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;

  max-width: 248px;
}

/* .values__info {
  margin-top: 32px;
} */

.values__images {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px 28px;
  /* margin-top: 17px; */
}
.values__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.values__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 7px;
  line-height: 11px;

  letter-spacing: 0.03em;
}

@media screen {
  .values__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  .values__inner::before {
    right: 100px;
  }

  .values__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

  .values__title {
    margin-bottom: 16px;
  }
}
